body {
    display: grid;
    grid-template-areas:
    "header header header"
    "nav article ads"
    "nav footer ads";
    grid-template-rows: 140px 1fr 250px;
    grid-template-columns:25% 70% 5%;
    margin: 0;
}
header, footer, article, nav, div {
    box-sizing: border-box;
    }
#pageHeader {
    grid-area: header;
    border-top: 15px solid#071827;
    border-bottom:1px solid#071827;
}
#pageFooter {
    grid-area: footer;
    background-color: #071827;
    color: #617380;
    display: flex;
    flex-direction: column;
    Justify-content:center;
    align-items:center;
    border-top:10px solid white;
    border-bottom:10px solid white;
}
#mainArticle {
    grid-area: article;
    background-color: #A5B5C2;
    border-left:1px solid #071827;
    border-right:1px solid #071827;
    border-bottom:1px solid #071827;
}
#mainNav {
    grid-area: nav;
    display: grid;
    grid-template-columns:20% 80% ;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    "nav1 menunav";
    background-color: #3A4854;
}
.nav1 {
    grid-area: nav1;
}
.menuNavigation {
    grid-area: menunav;
}

#siteAds {
    grid-area: ads;
    background-color: #3A4854;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    flex-grow:1;
}
/* ------------------------------------------------------------------------------------Header-----------------------------------------------------------------------------------+- */
.logoHeader, .socialHeader,.menu_top,.cartHeader{
    display: flex;
    Justify-content:center;
    align-items:center;
    background-color: #A5B5C2;
}
.logoHeader, .socialHeader,.cartHeader{
    width: 20%;
}
.menu_top {
    width: 40%;
}
.menu_top ul{
    display: flex;
    Justify-content:flex-start ;
    flex-direction: row;
    Justify-content:flex-start ;
    width: 100%;
    height: 100%;
}
.menu_top ul li{
    display: flex;
    width: 100%;
    height: 100%;
    align-items:center;
}
.menu_top ul li a{
    display: flex;
    width: 100%;
    height: 100%;
    Justify-content:center;
    align-items:center;
    color: #071827;
}
.socialHeader {
    flex-direction: column;
}
.button_for_cart{
    width: 63px;
    height: 63px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #071827;
    background-image: url(../img/cart4.png);
    border-color: #071827;
    border-radius: 5px;
}
.button_for_cart:hover {
    width: 65px;
    height: 65px;
    background-image: url(../img/cart4_3.png);
}
.social_top_menu {
    display: flex;
    flex-direction: row;
}
.menu_top h1:hover {
    font-size: 25px; 
}
/* ------------------------------------------------------------------------------------BODY------------------------------------------------------------------------------------ */
.catalogProducts, .products2, .products3 {
    display: flex;
    Justify-content:center;
    align-items:center;
    width: 100%;

}
.products3, .products2{
    flex-direction: row;
}
.catalogProducts {
    flex-direction: column;
}
.products3 div, .products2 div {
    border: 1px solid#071827;
    border-radius: 5px;
    padding-left: 13px;
    padding-top: 11px;
    margin: 30px;
}
.products3 div {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}
.products2 div {
    width: 388px;
    height: 280px;
}
.category_style  {
    padding-top: 20px;
}
.h1_style {
    /* font-size: 24px;
    font-family: 'Pacifico', cursive; ; */
    color: #071827;
}
.h1_main_style {
    margin: 20px;
}
.under_border {
border-bottom:1px solid #071827;
}
/* ------------------------------------------------------------------------------------leftMenu------------------------------------------------------------------------------------ */
.menuNavigation {
    position: sticky;
    top: 0;
    color: #071827;
    display: flex;
    flex-direction:column;
}
.menuNavigation li, .menuNavigation h1 {
    border:1px solid #071827;
    border-radius: 5px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    background-color: #617380
    
}
.menuNavigation div nav a {
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    background-color: #617380 ;
    border-radius: 5px;
}
#menu_scroll a:hover{
    border:2px solid #071827;
    border-radius: 5px;
    width: 102%;
    height: 102%;
    background-color: #617380;
}
/* ------------------------------------------------------------------------------------merid_bb_category------------------------------------------------------------------------------------ */

.button_in_cart {
    display: flex;
    flex-direction: column;
    
}
.button_in_cart div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center; 
}
.add_to_card, .ind_order_button{
    margin: 10px;
    color: #617380;
    background-color: #071827;
    border: 1px solid #071827;
    border-radius: 5px;
    font-family: Pacifico; ;
    font-size: 15px;
    
}
.add_to_card:hover, .ind_order_button:hover{
    color: #071827;
    background-color: #617380;
}

/* ---------------------------------------------------------------forms-ind-order--------------------------------------------------------------- */
.Individual_order_form {
    display: flex;
    flex-direction: column;
    align-content:center; 
    border: 1px solid #071827;
    border-radius: 5px;
    margin: 20px;
    padding: 10px; 
}
.Individual_order_form div{
    display: flex;
    flex-direction: row;
    box-sizing: border-box; 
}
.category_for_Individual_order{
    width: 165px;
    height: 30px;
}
.category_for_Individual_order h5, .radio_box_for_order label, .check_box_for_order label{
    line-height: 30px;
    margin-right: 10px;
}
.radio_box_for_order input, .check_box_for_order input{
    margin: 10px 10px 10px 0 ;
    width: 15px;
    height: 15px;
}
.ind_order_button {
    margin-top:10px;
    width: 165px;
    height: 30px;
    border: 1px solid #071827;
    border-radius: 5px;
}
.button_in_cart button{
    width: 30px;
    height: 30px;
    border: 1px solid #071827;
    border-radius: 5px;
    color:#617380;
    background-color:#071827;
}
.button_in_cart button:hover{
    color:#071827;
    background-color:#617380;
}
.button_in_cart input{
    margin: 0 10px ;
    width: 160px;
    height: 30px;
    border: 1px solid #071827;
    border-radius: 5px;
    font-family: Pacifico; 
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}
.select_box_for_order {
    border: 1px solid #071827;
    border-radius: 5px;
}
.select_box_for_order option {
    font-family: Pacifico; 
    font-size: 15px;
}
.merid_bb_category {
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.product_items {
    flex-basis: 380px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #071827;
    border-radius: 5px;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-content:center;
    width: 380px;
    height: 550px;
}
.product_items button{
    width: 42px;
    height: 42px;
}
.product_items input {
    height: 42px;
}
.product_items img {
    width: 348px;
    height: 278px;
    margin-bottom: 5px;
}
@media (min-width: 1600px) and (max-width: 1890px) {
    .product_items {
        flex-basis: 250px;
        width: 300px;
        height: 500px;
    }
    .product_items img {
        width: 268px;
        height: 198px;
        margin-bottom: 5px;
    }
}
@media (min-width: 1152px) and (max-width: 1600px) {

    .product_items {
        flex-basis: 250px;
        width: 250px;
        height: 460px;
    }
    .product_items img {
        width: 218px;
        height: 138px;
        margin-bottom: 5px;
    }
    .button_in_cart input{
        width: 120px;
    }
    .phone_for_top_menu, .inst_for_top_menu{
        font-size:20px;
    }
    #mainNav {
        grid-template-columns:10% 90% ;
    }
    body {
        grid-template-columns:30% 65% 5%;
    }
}